*.log
*.iml
*.pem
*.db
*.block
*.tx
*.tar.gz
IssuerPublicKey
IssuerRevocationPublicKey
connection-*.yaml
build/
.DS_Store/
.idea/
.gradle/
.vscode/
softhsm/tokens/*
organizations/*/*/msp/
organizations/*/*/orderers/
organizations/*/*/users/
organizations/*/*/ca/
organizations/*/*/peers/
organizations/*/*/tlsca/
!.gitkeep 