*.log
*.iml
*.pem
*.db
*.tar.gz
IssuerPublicKey
IssuerRevocationPublicKey
connection-*.yaml
build/
.DS_Store/
.idea/
.gradle/
bin/
.vscode/
softhsm-network/softhsm/tokens/
softhsm-network/channel-artifacts/
softhsm-network/package/
softhsm-network/system-genesis-block/
softhsm-network/organizations/*/*/msp/
softhsm-network/organizations/*/*/orderers/
softhsm-network/organizations/*/*/users/
softhsm-network/organizations/*/*/ca/
softhsm-network/organizations/*/*/peers/
softhsm-network/organizations/*/*/tlsca/